
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-image:  url("https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
}
.content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    height: 100vh;
}
img {
    grid-row: 1/2;
    grid-column: 1/2;
    width: 100%;
    padding-right: 20%;
    padding-left: 20%;
    padding-bottom: 10%;
    padding-top: 10%;
}

.prompt{
    font-size: 18px;
    font-weight:lighter;
    color:beige;
    padding:10%;
    margin: 0 auto;
    background-color: rgba(0,0,0, 0.5);
    text-align: center;
}
.form{
    grid-column: 2;
    grid-row: 1;
    background-color: rgba(0,0,0, 0.5);
    color:beige;
    padding-top:50px;
}
input,
select,
text {
  border: 2px solid rgb(1, 1, 30);
  background-color: white;
  border-radius: 10px;
  padding: 2px;
}
.field{
    border: none;
    padding: 20px;
    margin-top:20px;
}
.click{
    margin-left: 10px;
    padding: 3px;
    border-radius: 20px;
}
button:hover{
    transform: scale(1.1);
}
button:active{
    background-color: azure;
}

.foot{
    padding-top: 20%;
    text-align:center;
}


#log-in{
    color: darkblue
}
#log-in:hover{
    color:rgb(41, 82, 244);
}