
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway';
}
body{
    background-image:  url("https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
}
.content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
}
img {
    grid-row: 1;
    grid-column: 1/2;
    width: 100%;
    padding-right: 20%;
    padding-left: 20%;
    padding-bottom: 10%;
    padding-top: 10%;
}

.prompt{
    font-size: 22px;
    font-weight:lighter;
    color:beige;
    padding:10%;
    padding-bottom: 100%;
    margin: 0 auto;
    background-color: rgba(0,0,0, 0.5);
    text-align: center;
}
.form{
    grid-column: 2;
    grid-row: 1;
    background-color: rgba(0,0,0, 0.5);
    color:beige;
    margin-top:0px;
}
input,
select,
text {
  border: 2px solid rgb(1, 1, 30);
  background-color: white;
  border-radius: 10px;
  padding: 2px;
  margin:4%;
}
.field{
    border: none;
    padding: 20% 3% 3% 20%;
}
.click{
    margin-left: 30%;
    padding:2%;
    border-radius: 20px;
    background-color:rgb(239, 206, 146);
}
button:hover{
    transform: scale(1.1);
}
button:active{
    background-color: pink;
}

.foot{
    padding-top: 10%;
    text-align: center;
}
.foot a{
    text-decoration: none;
}
#log-in{
    color: rgb(244, 91, 107);
}
#log-in:hover{
    color:gold;
}