
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway';
}

body{
    width: 100%;
    height: 100vh;
    background-image:  url("https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.content{
    height: 100vh;
    width: 100%;
}

#logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.prompt{
    font-size: 22px;
    font-weight:lighter;
    color:beige;
    padding: 2em 4em;
    margin: 0 auto;
    background-color: rgba(0,0,0, 0.5);
    text-align: center;
}

.heading{
    width: 100%;
    margin: 0px auto;
}

.form{
    background-color: rgba(0,0,0, 0.5);
    color:beige;
    margin-top:0px;
    width: 100%;
    max-width: 500px;
}

input,
select,
text {
  border: 2px solid rgb(1, 1, 30);
  background-color: white;
  border-radius: 10px;
  padding: 2px;
  margin:12px;
}

.field{
    border: none;
    padding: 20% 3% 3% 20%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.field-container {
    width: 100%;
    max-width: 260px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button-container{
    width: 100%;
    max-width: 260px;
    padding-right: 12px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

.click{
    margin-left: 30%;
    padding:2%;
    border-radius: 20px;
    background-color:rgb(239, 206, 146);
}
button:hover{
    transform: scale(1.1);
}
button:active{
    background-color: pink;
}

.form-footer{
    padding-top: 10%;
    text-align: center;
}
.form-footer a{
    text-decoration: none;
}
#log-in{
    color: rgb(244, 91, 107);
}
#log-in:hover{
    color:gold;
}